#narrat {
  --bg-color: #131720;
  --text-color: #d9e1f2;
  --primary: hsl(255, 30%, 55%);
  --focus: hsl(210, 90%, 50%);
  --secondary: #42b983;
}

.seen-before {
  pointer-events: none;
  text-decoration: line-through;
}
